<!DOCTYPE html>
<html>
	<head>
	<title>Book catalog</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	</style>
	</head>
	<body class="background">

		<div class="row" style="background: coral">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<form>
					<center><input id="searchBox" type="text" name="searchQuery" ></center>
				</form>
			</div>
			<div class="col-md-3">
				<form>
					<input id="searchButton" type="submit" value="Search">
				</form>
			</div>
			<div class="col-md-3">
				<a class="link" href="/loginForm" style="color: white">Sign In</a>
			</div>
		</div>
		<div class="row" style="background-color: khaki;color:white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
			<h4><marquee>Choose your book great discount going on!!!</marquee></h4>
		</div>

		<center><div class="row" style="background:  khaki">
			<div class="col-md-4">
				<img src="/static/images/1.JPG" alt="book1" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/2.JPG" alt="book2" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/3.JPG" alt="book3" class="img-responsive img-rounded">
			</div>
		</div>
		<div class="row" style="background:  khaki">
			<div class="col-md-4">
				<img src="/static/images/4.JPG" alt="book4" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/5.JPG" alt="book5" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/6.JPG" alt="book6" class="img-responsive img-rounded">
			</div>
		</div>
		<div class="row" style="background:  khaki">
			<div class="col-md-4">
				<img src="/static/images/7.JPG" alt="book7" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/8.JPG" alt="book8" class="img-responsive img-rounded">
			</div>
			<div class="col-md-4">
				<img src="/static/images/9.JPG" alt="book9" class="img-responsive img-rounded">
			</div>
		</div></center>

	</body>
</html>