<!DOCTYPE html>
<html>
	<head>
	<title>Book catalog</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	</style>
	</head>
	<body style="background: #FFDAB9">
		<div class='row'>
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1 style="text-shadow: 1px 1px 2px grey">View Cart</h1>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><a href="/show_books" id="ll">logout</a></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<h3 style="text-shadow: 1px 1px 2px grey">Name</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">Address</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">State</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">Phone</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">Total items</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">Total amount</h3>
			</div>
			<div class="col-md-5">
				<h3 style="text-shadow: 1px 1px 2px grey">{{name}}</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">{{address}}</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">{{state}}</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">{{phone}}</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">{{sss}}</h3>
				<p></p>
				<h3 style="text-shadow: 1px 1px 2px grey">{{tsum}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<a href="/show_books"><h1> Continue shopping <h1></a>
			</div>
			<div class="col-md-5">
				<a href="/payment"><h1>Proceed to checkout<h1></a>
			</div>
		</div>
	</body>